*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.header_nav{
    height: 100px;
    background: white;
    display: flex;
}
.container{
    max-width: 1110px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.header_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header_list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
}
.header_list li {
    height: 100%;
}
.header_link{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-right: 15px;
    padding-left: 23px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_link:hover{
    color: red;
    transition: 0.5s;
    background: white;
}
.header{
    background-image: url(../img/Illustration-of-an-exit-rate\ 1.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}